@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4" style="max-height: 400px; overflow-y: auto;">

            @await Component.InvokeAsync("_ProductFilterValuesComponentPartial")

        </div>

        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">

                @await Component.InvokeAsync("_ProductListSortingComponentPartial")

             @*    @await Component.InvokeAsync("_ProductListComponentPartial") *@

                @{
                    var filterRequest = (FilterRequestDto)ViewData["FilterRequest"];
                }
                   
                    @await Component.InvokeAsync("_FilteredProductsComponentPartial", new {filterRequest})
               
                @await Component.InvokeAsync("_ProductListPaginationComponentPartial")

            </div>
        </div>

    </div>
</div>
