@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeaderComponentPartial")

<body>
    @await Component.InvokeAsync("_TopbarComponentPartial")


    @await Component.InvokeAsync("_NavbarComponentPartial")

   
    @if(ViewData["BreadCrumbPaths"] is List<string> paths && paths.Any()){
        @await Component.InvokeAsync("_NavigationPathComponentPartial", new { paths })
    }

    @RenderBody()

    @await Component.InvokeAsync("_FooterComponentPartial")


    @await Component.InvokeAsync("_ScriptComponentPartial")

    @RenderSection("Scripts", required: false)
   </body>

</html>



