@model ChangePasswordDto

<div class="card p-4">
    <h5 class="text-warning">Şifre Güncelleme</h5>

    <form id="passwordForm" method="post" asp-action="ChangePassword">
        @Html.AntiForgeryToken()

        <div class="alert alert-success password-alert-success d-none"></div>
        <div class="alert alert-danger password-alert-error d-none"></div>


        <div class="form-group">
            <label asp-for="OldPassword">Şu Anki Şifre</label>
            <div class="input-group">
                <input asp-for="OldPassword" type="password" class="form-control" id="OldPassword">
                <div class="input-group-append">
                    <span class="input-group-text toggle-password" data-target="OldPassword">
                        <i class="fa fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewPassword">Yeni Şifre</label>
            <div class="input-group">
                <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword">
                <div class="input-group-append">
                    <span class="input-group-text toggle-password" data-target="NewPassword">
                        <i class="fa fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <small class="form-text text-muted">
                Şifreniz en az 8 karakter olmalı, 1 büyük harf, 1 özel karakter içermelidir.
            </small>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewPasswordConfirm">Yeni Şifre (Tekrar)</label>
            <div class="input-group">
                <input asp-for="NewPasswordConfirm" type="password" class="form-control" id="NewPasswordConfirm">
                <div class="input-group-append">
                    <span class="input-group-text toggle-password" data-target="NewPasswordConfirm">
                        <i class="fa fa-eye-slash"></i>
                    </span>
                </div>
            </div>
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning">Güncelle</button>
    </form>
</div>
